<ul class="nav nav-pills nav-stacked">
  <li id="1">
    <a href="/index.php">
      <span class="badge pull-right" id="totalPedidos"></span>
      Pedidos Pendientes
    </a>
  </li>
  <li id="2">
    <a href="/altaDescripcionComic.php">
      <span class="badge pull-right" id="totalPedidos"></span>
      Alta de Titulo-Descripcion
    </a>
  </li>
  <li id="3">
    <a href="/altaComic.php">
      <span class="badge pull-right" id="totalPedidos"></span>
      Alta de Comic
    </a>
  </li>
  <li id="4">
    <a href="/altaInventario.php">
      <span class="badge pull-right" id="totalPedidos"></span>
      Alta de Inventario
    </a>
  </li>
  
</ul>
